* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* Gives attributes to nav bar link such as font, position, size, margin-right, padding, and float */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

/* Sets the list items within the nav element to be inline */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Sets the links to a color white with no text decoration */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Sets the paragraph font size to 16px */
p {
    font-size: 16px;
}

/* Sets positioning and size for the main image under the nav bar  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Class attribute for the img to floats left with a margin */
.float-left {
    float: left;
    margin-right: 25px;
}

/*Class attribute for the img to float right with a margin */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets the size of the classes within content with a width, display (inline-block) and margin */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Sets the aside section elements to be to the right of the screen with specific attributes */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
 /* Defines margin specifications and color of aside element */
.benefits aside {
    margin-bottom: 32px;
    color: white;
}

/*Aligns the text of the headers and gives it a margin */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Defines the display of the images and gives it a margin and max width */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets the attributes for figures by giving size, margin, font, color, background color */
.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Gives max height to images within the figure section */
.content img {
    max-height:200px ;
}

/*Sets margin and font size to headers within figure section */
.content h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets attributes for footer section with padding, font, and alignment */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
 
/* Sets font size for header element within the footer section */
.footer h2 {
    font-size: 20px;
}
